.flex-box-center {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flex-box-left-to-right {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-box-right-to-left {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
