.section {
    margin-bottom: 50px;
    background-color: var(--bg-200);
    padding: 20px;
    border-radius: 5px;
}

h1, h2 {
    color: var(--text-100); /* Brighter color for better visibility */
}

.chart {
    background-color: var(--bg-300);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.task {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-300);
    padding-bottom: 10px;
}

a {
    color: var(--accent-200); /* Lighter accent color for links */
}

a:hover {
    color: var(--primary-300); /* Lighter color on hover for better visibility */
}
